<div *ngIf="!hasEnteredName">
 <input #username placeholder="Enter your name... then type ENTER" (keyup.enter)="setUsername(username.value)" type="text">
</div>
<div *ngIf="hasEnteredName">
  <div class="messages">
    <div *ngFor="let message of messages">
      <app-message [message]="message"></app-message>
    </div>
  </div>

  <div class="typewriter">
    <textarea #newMessage rows="3" cols="100" placeholder="Type your message here..."></textarea>
    <button (click)="sendMessage(newMessage.value)">Send message</button>
  </div>
</div>
